# === Python ===
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# === Node / React ===
node_modules/
build/
dist/

# === Environment files ===
.env
*.env

# === Large files ===
*.dll
*.lib
*.pyd
*.exe
*.avi
*.mp4
*.mkv
*.zip
*.tar
*.gz
*.weights
*.h5
*.model

# === Logs / Cache ===
*.log
.DS_Store
