# Ignore Python virtual environment
venv/

# Common Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd

# React/Node ignores
node_modules/
build/
dist/

# Logs and system files
*.log
.DS_Store

# Ignore large files
*.dll
*.lib
*.pyd
*.exe
*.avi
*.mp4
*.mkv
